@import '../../styles/mixins.scss';

.carousel {
    margin-top: 45px;

    .slideItem__img {
        margin: 0 auto;
        padding: 0 15px;
    }

    &-indicators {
        display: none !important;
    }

    &-control-prev {
        display: none !important;
    }

    &-control-next {
        display: none !important;
        right: -20px !important;
        opacity: 1 !important;

        @include tablet {
            display: flex !important;
        }
    }

    &-control-next-icon {
        width: 60px !important;
        height: 60px !important;
        background-image: url('../../assets/img/slider-arrow.png') !important;
    }
}